#maven
target
#eclipse
.classpath
.project
.settings
.checkstyle
#something
/Notes
/ACNNotSupportedAnalysis.ods
#linux editor tmp file
*.*~
/SmppSimulatorParameters.xml
test-output
${env.JBOSS_HOME}

/SmscPropertiesManagementTest_smscproperties.xml
/hs_err_pid22360.log
/hs_err_pid26888.log
/hs_err_pid23380.log
/hs_err_pid9000.log
# iml
*.iml
.iml
*.gitignor
# maven versions plugin
pom.xml.releaseBackup
/001
/Test_smscproperties.xml
/test_sip.xml
/Test_esme.xml
/HomeRoutingManagementTest_cc_mccmnc.xml
/HomeRoutingManagementTest_corrid.xml
/Test_cc_mccmnc.xml
/Test_corrid.xml
/Test_sip.xml
/Test_mproc.xml
/01/
/TestMo_mproc.xml
/TestTxSmpp_mproc.xml
/TestMtMProc_mproc.xml
/core/slee/services/txhttpserversbb/pom.xml
.idea/libraries/Maven__org_mobicents_servers_jainslee_api_jain_slee_11_ext_1_0_0_FINAL.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_6_0.xml
.idea/libraries/Maven__pl_ivmx_ocp_jslee_mock_1_0_8_8_SNAPSHOT.xml


# Created by https://www.gitignore.io/api/intellij,eclipse,java,maven

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr


### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


